<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>View Application Status</ion-title>
  </ion-toolbar>
</ion-header>

<!-- desktop view -->
<ng-container *ngIf="screenWidth >= 800 else mobileView">
  <ion-content class="ion-padding">
    <!-- Headings -->
    <ion-grid>
      <ion-row class="ion-align-items-center" style="text-align: center; font-weight: bold;">
        <ion-col> Application </ion-col>
        <ion-col> Status </ion-col>
        <ion-col> Course Assigned </ion-col>
        <ion-col *ngIf="application.status !== 'Rejected'"> Actions </ion-col>
      </ion-row>
    </ion-grid>

    <!-- List of applications -->
    <ion-grid>
      <ion-row class="ion-align-items-center" style="text-align: center">
        <ion-col> {{application.type}} </ion-col>

        <ion-col> {{application.status}} </ion-col>

        <ion-col> {{application.courseAssigned}} </ion-col>

        <ion-col *ngIf="application.status !== 'Rejected'">
          <ion-list>
            <ion-select
              fill="outline"
              aria-label="Application Status"
              interface="popover"
              placeholder="Select Status"
              [(ngModel)]="response"
              [disabled]="application.courseAssigned === 'None'"
            >
              <ion-select-option value="accept">Accept</ion-select-option>
              <ion-select-option value="reject">Reject</ion-select-option>
            </ion-select>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button (click)="presentAlert()"> Confirm </ion-button>
  </ion-content>
</ng-container>

<!-- mobile view -->
<ng-container>
  <ng-template #mobileView>
    <ion-content class="ion-padding">
      <ion-grid>
        <!-- application and their status -->
        <ion-row>
          <ion-col class="mobile-header">Application</ion-col>
          <ion-col> {{application.type}} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="mobile-header">Status</ion-col>
          <ion-col> {{application.status}} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="mobile-header">Course Assigned</ion-col>
          <ion-col> {{application.courseAssigned}} </ion-col>
        </ion-row>

        <ion-row *ngIf="application.status !== 'Rejected'">
          <ion-col class="mobile-header">Actions</ion-col>
          <ion-col>
            <ion-list>
              <ion-select
                fill="outline"
                aria-label="Application Status"
                interface="popover"
                placeholder="Select Status"
                [(ngModel)]="response"
                [disabled]="application.courseAssigned === 'None'"
              >
                <ion-select-option value="accept">Accept</ion-select-option>
                <ion-select-option value="reject">Reject</ion-select-option>
              </ion-select>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button (click)="presentAlert()"> Confirm </ion-button>
    </ion-content>
  </ng-template>
</ng-container>
