<ion-header>
  <ion-toolbar>
    <ion-title>Announcements for {{courseName}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- if there is no annoucnements show this -->
  <ion-card *ngIf="formattedAnnouncements.length === 0" mode="ios">
    <ion-card-header>
      <ion-card-title>
        No Announcements Posted
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- display annoucnements -->
  <ion-card *ngFor="let announcement of formattedAnnouncements" mode="ios" [color]="announcement.color">

    <ion-card-header>
      <ion-card-title> {{announcement.heading}} </ion-card-title>
      <ion-card-subtitle>{{announcement.date}} {{announcement.time}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
     {{announcement.body}}
    </ion-card-content>
  </ion-card>
</ion-content>
