ion-input.custom {
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-height: 30px;

  font-size: small;

  --padding-start: 15px;

  --highlight-color-focused: none;
  --highlight-color-valid: none;
  --highlight-color-invalid: none;
}

.submit-button {
  font-size: 10px;
  height: 28px;
  margin-right: 10px;
}

* {
  outline: 0;
  font-family: sans-serif
}
body {
  background-color: #fafafa
}
span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}
.container {
  width: 500px;
  margin: 50px auto 0;
  text-align: center
}

.custom-select{
  width: 125px;
  font-size: 16px; /* Adjust the font size */
}

.custom-input {
  width: 150px;
  font-size: 16px; /* Adjust the font size */
}

.custom-select-course {
  width: 150px;
  font-size: 16px; /* Adjust the font size */
}

.custom-datetime {
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 50px;
  font-size: 20px;
}

.mobile-header {
  font-weight: bold;
  align-items: center;
  align-self: center;
}

.submit-button-mobile {
  height: 28px;
  margin-right: 10px;
}
