<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>View Selected Times</ion-title>
  </ion-toolbar>
</ion-header>

<!-- desktop view -->
<ng-container *ngIf="screenWidth >= 800 else mobileView">
  <ion-content class="ion-padding">
    <ion-grid>
      <!-- Headings -->
      <ion-row style="text-align: center; font-weight: bold">
        <ion-col> Course </ion-col>

        <ion-col> Event Type </ion-col>

        <ion-col> Day </ion-col>

        <ion-col> Time </ion-col>

        <ion-col> Action </ion-col>
      </ion-row>
    </ion-grid>

    <!-- show events that tutors has signed up for -->
    <ion-grid>
      <ion-row style="text-align: center" *ngFor="let s of sessions">
        <ion-col> {{s.course}} </ion-col>

        <ion-col> {{s.eventType}} </ion-col>

        <ion-col> {{s.day}} </ion-col>

        <ion-col> {{s.time}} </ion-col>

        <ion-col style="padding-top: 0px">
          <ion-button
            id="fullButton"
            [disabled]="!s.id"
            (click)="presentAlert(s)"
          >
            REMOVE
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>

<!-- mobile view -->
<ng-container>
  <ng-template #mobileView>
    <ion-content class="ion-padding">
      <ion-grid>
        <!-- show tutor selected slots -->
        <ng-container *ngFor="let s of sessions">
          <ion-row>
            <ion-col class="mobile-header">Course</ion-col>
            <ion-col>{{s.course}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="mobile-header">Event Type</ion-col>
            <ion-col>{{s.eventType}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="mobile-header">Day</ion-col>
            <ion-col>{{s.day}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="mobile-header">Time</ion-col>
            <ion-col>{{s.time}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="mobile-header">Action</ion-col>
            <ion-col style="padding-top: 0px">
              <ion-button
                id="fullButton"
                [disabled]="!s.id"
                (click)="removeEvent(s)"
              >
                REMOVE
              </ion-button>
            </ion-col>
          </ion-row>

          <hr style="border-top: 1px dashed grey" />
        </ng-container>
      </ion-grid>
    </ion-content>
  </ng-template>
</ng-container>
