<ion-header>
  <ion-toolbar>
    <ion-title>Attendance Codes</ion-title>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="screenWidth >= 800 else mobileView">
  <ion-content class="ion-padding">

    <ion-grid>
      <ion-row style="align-items: center;">

        <!-- Events for specific course -->
        <ion-col style="font-weight: bolder;" size="4">
          Showing Events for: {{convenerCourse}}
        </ion-col>

        <ion-col size="4">
          <!-- <ion-button color="primary" expand="block" (click)="generateCodes()">Generate Codes</ion-button> -->
          <ion-button color="primary" (click)="generateCodes()">Generate Codes</ion-button>
        </ion-col>
      </ion-row>

      <br>

      <!-- Headings -->
      <ion-row style="text-align: center; font-weight: bold">
        <ion-col> Event </ion-col>

        <ion-col> Day </ion-col>

        <ion-col> Times </ion-col>

        <ion-col> Venue </ion-col>

        <ion-col> Attendance Code </ion-col>

        <ion-col> Create Code </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Show event details -->
    <ion-grid id="makepdfDesktop">
      <ion-row style="text-align: center" *ngFor="let event of formattedEventsForCourse">

        <ion-col>
          {{event.description}}
        </ion-col>

        <ion-col>
          {{event.day}}
        </ion-col>

        <ion-col>
          {{formatTime(event.startTime)}} - {{formatTime(event.endTime)}}
        </ion-col>

        <ion-col>
          {{event.venue}}
        </ion-col>

        <ion-col class="custom-codes">
          {{event.attendanceCode}}
        </ion-col>

        <ion-col>
          <ion-checkbox [(ngModel)]="event.createCode"></ion-checkbox>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-button (click)="updateCodes()">Update</ion-button>
    <ion-button (click)="generatePdf('desktop')">Download codes</ion-button>

  </ion-content>
</ng-container>

<!-- MOible view -->
<ng-container>
  <ng-template #mobileView>
    <ion-content class="ion-padding">
      <ion-grid>

        <ion-row style="align-items: center;">
          <ion-col style="font-weight: bolder;" size="4">
            Showing Events for: {{convenerCourse}}
          </ion-col>

          <!-- button to generate codes -->
          <ion-col size="4">
            <!-- <ion-button color="primary" expand="block" (click)="generateCodes()">Generate Codes</ion-button> -->
            <ion-button color="primary" (click)="generateCodes()">Generate Codes</ion-button>
          </ion-col>
        </ion-row>

        <div id="makepdfMobile">
          <!-- show events -->
        <ng-container *ngFor="let event of formattedEventsForCourse">

          <ion-row>
            <ion-col class="mobile-header">Event</ion-col>
            <ion-col>{{event.description}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="mobile-header">Day</ion-col>
            <ion-col>{{event.day}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="mobile-header">Times</ion-col>
            <ion-col>{{formatTime(event.startTime)}} - {{formatTime(event.endTime)}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="mobile-header">Venue</ion-col>
            <ion-col>{{event.venue}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="mobile-header">Attendance Code</ion-col>
            <ion-col class="custom-codes">{{event.attendanceCode}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col> Create Code </ion-col>
            <ion-col>
              <ion-checkbox [(ngModel)]="event.createCode"></ion-checkbox>
            </ion-col>
          </ion-row>

          <hr style="border-top: 1px dashed grey" />
        </ng-container>
        </div>
      </ion-grid>

      <ion-button (click)="updateCodes()">Update</ion-button>
      <ion-button (click)="generatePdf('mobile')">Download codes</ion-button>

    </ion-content>
  </ng-template>
</ng-container>
