<ion-header>
  <ion-toolbar>
    <ion-title>Allocate Tutors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>

    <!-- Headings -->
    <ion-row style="text-align: center; font-weight: bold;">
      <ion-col> Student Name </ion-col>
      <ion-col> Student Number </ion-col>
      <ion-col> Assign Course </ion-col>
      <ion-col> Assigned </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row class="ion-align-items-center" style="text-align: center" *ngFor="let a of displayedTutors">
      <ion-col> {{a.tutorName}} </ion-col>

      <ion-col> {{a.tutorNum}} </ion-col>

      <ion-col>
        <ion-list>
          <ion-select fill="outline" aria-label="Assign Course" interface="popover" placeholder="Select Course"
            [(ngModel)]="a.assignedCourse">
            <ion-select-option [value]="c.name" *ngFor="let c of courses">
              {{c.name}}
            </ion-select-option>
          </ion-select>
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-checkbox [disabled]="true" [checked]="a.assignedStatus"></ion-checkbox>
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-button (click)="updateTutorAllocations()">
    Update
  </ion-button>
</ion-content>