<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Applications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Apply for a Position:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="tutor">
          <ion-label>Tutor</ion-label>
        </ion-segment-button>

        <ion-segment-button value="TA">
          <ion-label>TA</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="segment">

        <div *ngSwitchCase="'tutor'">
          <form #tutorForm="ngForm" (ngSubmit)="onSubmit(tutorForm)">
            <ion-list>
              <ion-item>
                <ion-input label="Name: " type="text" [(ngModel)]="tutorApplication.name" name="name" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Surname: " type="text" [(ngModel)]="tutorApplication.surname" name="surname" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Student Number: " type="text" [(ngModel)]="tutorApplication.studentNumber" name="studentNumber" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Degree of Study: " type="text" [(ngModel)]="tutorApplication.degreeOfStudy" name="degreeOfStudy" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Year of Study: " type="number" [(ngModel)]="tutorApplication.yearOfStudy" name="yearOfStudy" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Average: " type="number" [(ngModel)]="tutorApplication.averageGrade" name="averageGrade" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Upload Transcript: </ion-label>
                <ion-input type="file" (change)="onFileChangeTutor($event)" required></ion-input>
              </ion-item>
            </ion-list>
            <ion-button expand="block" type="submit">Apply</ion-button>
          </form>
        </div>

        <div *ngSwitchCase="'TA'">
          <form #taForm="ngForm" (ngSubmit)="onSubmit(taForm)">
            <ion-list>
              <ion-item>
                <ion-input label="Name: " type="text" [(ngModel)]="taApplication.name" name="name" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Surname: " type="text" [(ngModel)]="taApplication.surname" name="Surname" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Email: " type="text" [(ngModel)]="taApplication.email" name="email" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Degree Completed: " type="text" [(ngModel)]="taApplication.degree_completed" name="degree_completed" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Desired Course to Assist: " type="text" [(ngModel)]="taApplication.desired_course" name="desired_course_to_assist" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Upload Recent Transcript: </ion-label>
                <ion-input type="file" (change)="onFileChangeTA($event)" required></ion-input>
              </ion-item>
            </ion-list>
            <ion-button expand="block" type="submit">Apply</ion-button>
          </form>
        </div>

      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
