ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
    font-family: 'Poppins', sans-serif;
  }

  ion-title {
    font-size: 24px;
    font-weight: 600;
    color: #090000;
  }

  ion-card-header {
    background-color: #3985e1;
    color: #fff;
    padding: 8px 16px;
    font-weight: 600;
    text-align: center;
  }

  ion-card-title {
    padding: 8px 16px;
    font-size: 24px;
    color: #f2f2f2;
    font-weight: 600;
  }

.custom-select {
  width: min-content;
  padding-left: 40px;
}

