<ion-header>
  <ion-toolbar>
    <ion-title>Review Applications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="tutor">
      <ion-label>Tutor</ion-label>
    </ion-segment-button>

    <ion-segment-button value="TA">
      <ion-label>TA</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'tutor'">

      <ion-grid>
        <!-- Headings -->
        <ion-row style="text-align: center; font-weight: bold;">
          <ion-col> Student Name </ion-col>
          <ion-col> Student Number </ion-col>
          <ion-col> Degree </ion-col>
          <ion-col> Year of Study </ion-col>
          <ion-col> Average </ion-col>
          <ion-col> Status </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row class="ion-align-items-center" style="text-align: center" *ngFor="let d of displayedTutors">
          <ion-col> {{d.studentName}} </ion-col>

          <ion-col> {{d.stuNum}} </ion-col>

          <ion-col> {{d.degree}} </ion-col>

          <ion-col> {{d.yearOfStudy}} </ion-col>

          <ion-col> {{d.average}} </ion-col>

          <ion-col>
            <ion-list>
              <ion-select fill="outline" aria-label="Application Status" interface="popover" [(ngModel)]="this.revStatusMap[d.status]">
                <ion-select-option [value]="a.description" *ngFor="let a of applicationStatus">
                  {{a.description}}
                </ion-select-option>
              </ion-select>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button (click)="updateTutors()">
        Update
      </ion-button>

    </div>

    <div *ngSwitchCase="'TA'">

      <ion-grid>
        <!-- Headings -->
        <ion-row style="text-align: center; font-weight: bold;">
          <ion-col> Name </ion-col>
          <ion-col> Email </ion-col>
          <ion-col> Qualification </ion-col>
          <ion-col> Desired Course </ion-col>
          <ion-col> Status </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row class="ion-align-items-center" style="text-align: center" *ngFor="let d of displayedTAs">
          <ion-col> {{d.name}} </ion-col>

          <ion-col> {{d.email}} </ion-col>

          <ion-col> {{d.qualification}} </ion-col>

          <ion-col> {{d.desiredCourse}} </ion-col>

          <ion-col>
            <ion-list>
              <ion-select fill="outline" aria-label="Application Status" interface="popover" placeholder="Select Status" [(ngModel)]="this.revStatusMap[d.status]">
                <ion-select-option [value]="a.description" *ngFor="let a of applicationStatus">
                  {{a.description}}
                </ion-select-option>
              </ion-select>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button (click)="updateTAs()">
        Update
      </ion-button>

    </div>
  </div>

</ion-content>
